<p id="notice"><%= notice %></p>

<h1>Simposios</h1>

<table>
  <thead>
    <tr>
      <th>Conteudo</th>
      <th>Picture</th>
      <th>Titulo</th>
      <th>Video</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @simposios.each do |simposio| %>
      <tr>
        <td><%= simposio.conteudo %></td>
        <td><%= simposio.picture %></td>
        <td><%= simposio.titulo %></td>
        <td><%= simposio.video %></td>
        <td><%= link_to 'Show', simposio %></td>
        <td><%= link_to 'Edit', edit_simposio_path(simposio) %></td>
        <td><%= link_to 'Destroy', simposio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Simposio', new_simposio_path %>
