<%= form_for(user, html: { multipart: true}) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:'form-control', :placeholder=>'digite seu nome' %>
  </div>
  
  <% if administrador? %>
    <div class="my-checkbox">
      <%= f.label :Administrador %><br>
      <%= f.check_box :adm, type:'checkbox'%>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :matricula %><br>
    <%= f.text_field :matricula, class:'form-control', :placeholder=>"Digite a matrícula" %>
  </div>
  
  <span class="form-group">
    <%= f.file_field :picture %>
    <p class="help-block">Escolha uma boa foto.</p>
  </span>
  
  <div class="actions">
    <%= f.submit 'Aplicar Alterações', class:'btn btn-default'%>
  </div>
<% end %>