<%= form_for(user, html: { multipart: true}) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:'form-control', :placeholder=>'digite seu nome' %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, class:'form-control' %>
  </div>
  
  <div class="field">
     <%= f.label :email_confirmation %><br>
    <%= f.email_field :email_confirmation, class:'form-control' %>
  </div>
  
  <% if administrador? %>
    <div class="field">
        <%= f.collection_select :type_id, Type.order(:id),:id,:name, include_blank: false, class: 'form-control' %>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :matricula %><br>
    <%= f.text_field :matricula, class:'form-control' %>
  </div>
  
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, class:'form-control' %>
  </div>
  
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, class:'form-control' %>
  </div>
  
 <span class="picture">
    <%= f.file_field :picture %>
  </span>
  
  <div class="actions">
    <%= f.submit 'Criar', class:'btn'%>
  </div>
<% end %>