<div class="main-container">
<h1>Editing User</h1>

<%= render 'changepassword', user: @user %>

<%= link_to 'Show', @user %> | 
<%= link_to 'Alterar Senha', editpassword_path %> | 
<%= link_to 'Alterar e-mail', editemail_path %> | 
<%= link_to 'Voltar', users_path %>
</div>