
<div class="pst-corpo-main-container">
  <div class="pst-main-container">
    <div class="main clearfix">
      <h2>Gerenciador de Usuários</h2>
      <div class="pst-container">
        <div class="pst-content">
          <div class="table-responsive">
            <table id="tablesorter" class="display" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Adm</th>
                  <th>Matricula</th>
                  <th>Activated?</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
            
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.adm %></td>
                    <td><%= user.matricula %></td>
                    <td><%= user.activated %></td>
                    <td><%= link_to 'Ver', user %></td>
                    <td><%= link_to 'Edit', edit_user_path(user) %></td>
                    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Você tem certeza disso?' } %></td>
                  </tr>
                <% end %>
              </tbody>  
            </table>
          </div>
        </div>
        <div class="pst-button">
          <button><%= link_to 'Novo Usuário', new_user_path %></button>
        </div>
      </div>
    </div>  
  </div>
  <%= render 'layouts/footer' %>
</div>
