<p id="notice"><%= notice %></p>

<h1>Videos Simposios</h1>

<table>
  <thead>
    <tr>
      <th>Simposio</th>
      <th>Video</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos_simposios.each do |videos_simposio| %>
      <tr>
        <td><%= videos_simposio.simposio_id %></td>
        <td><%= videos_simposio.video %></td>
        <td><%= link_to 'Show', videos_simposio %></td>
        <% if logged_in? %>
        <td><%= link_to 'Edit', edit_videos_simposio_path(videos_simposio) %></td>
        <td><%= link_to 'Destroy', videos_simposio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Videos Simposio', new_videos_simposio_path %>
