<%= form_for(evento) do |f| %>
  <% if evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

      <ul>
      <% evento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %>
    <%= f.text_field :titulo %>
  </div>

  <div class="field">
    <%= f.label :data %>
    <%= f.datetime_select :data %>
  </div>

  <div class="field">
    <%= f.label :localizacao %>
    <%= f.text_area :localizacao %>
  </div>
  
  <div class="form-group">
    <%= f.cktext_area :descricao, ckeditor: { language: 'pt-br'} %>
  </div>
  <%= javascript_include_tag Ckeditor.cdn_url %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
