<p id="notice"><%= notice %></p>

<h1>Eventos</h1>

<div id="calendar">
	<%= calendar_for(@eventos) do |t| %>
		<%= t.head('DOM','SEG', 'TER', 'QUA', 'QUI', 'SEX', 'SAB') %>
		<%= t.day do |day, eventos| %>
			<%= day.day %>
			<% eventos.each do |evento| %>
				<%= h(eventos.titulo) %>
			<% end %>
		<% end %>
	<% end %>
</div>
<%= link_to 'Novo evento', new_evento_path %>


