<div class="pst-corpo-main-container">
  <div class="pst-main-container">
    <div class="main clearfix">
      <h2>Gerenciador de Fotos</h2>
      <div class="pst-container">
        <div class="pst-content">
          <div class="table-responsive">
            <table id="tablesorter" class="display" cellspacing="0" width="100%">
              <thead>
                  <tr>
                    <th>Usuário</th>
                    <th>Imagem</th>
                    <th>Aceitar</th>
                    <th>Negar</th>
                  </tr>
              </thead>
              <tbody>
                <% if @users %>
                  <% @users.each do |user| %>
                    <tr>
                      <td><%= user.name %></td>
                      <td><button type="button" data-toggle="modal" data-target="#myModal" data-url="<%= user.picture.url %>" data-title="<%= user.name %>" >visualizar foto</button></td>
                      <td><%= link_to "Aceitar", user_aprove_image_path(:choice => true, :user_id => user.id)%></td>
                      <td><%= link_to "Negar", user_aprove_image_path(:choice => false, :user_id => user.id) %></td>
                    </tr>
                    
                  <% end %>
                <% else %>
                  <h4> Nenhuma foto para aprovar por hoje! </h4>
                <% end %>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"></h4>
                          </div>
                          <div class="modal-body">
                            <div class="u-img">
                              <img id="modal-img" src="#"/>
                              <!--<% @users.each do |user| %>-->
                              <!-- <%= image_tag(user.picture.url, class: 'img-thumbnail img-responsive') if user.foto_para_aprovar?%>-->
                              <!--<% end %>-->
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
              </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>  
  </div>
  <%= render 'layouts/footer' %>
</div>
<script>
  $('#myModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = button.data('url') // Extract info from data-* attributes
    var name = button.data('title')
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this);
    $('#modal-img').attr("src", recipient ? recipient : "/assets/semfoto.jpg");
    $('.modal-title').html(name);
  })
</script>