 
<% provide(:title, "Colaboradores") %>
<div class='col-corpo-container'>
    <div class='colaboradores-main-container'>
        <div class="main wrapper clearfix">
            <h1>Colaboradores</h1>
            <p>Phasellus commodo orci tellus, sit amet eleifend magna dignissim in. Donec iaculis ornare tellus in volutpat. Sed tincidunt molestie facilisis. Vivamus et sollicitudin augue. Nam porttitor pharetra eros porta mollis. Etiam non tortor nulla. Donec feugiat sapien arcu, id venenatis neque volutpat non. Duis auctor ex purus, vel sollicitudin mi efficitur rutrum. Donec varius nibh non fringilla mattis. Proin cursus et lorem a mattis. Sed vel mi diam.</p>
            <div class='row r-col'>
                <div class='photos'>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="photo col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="col-cl-img">
                                    <a href=""><%= image_tag("parceiros.jpg", class: 'img-responsive') %></a>
                                </div>
                            </div>
                            <div class="photo col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <h3>Heading 3</h3>
                                <p>Description....</p>
                            </div>    
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="photo col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="col-cl-img">
                                    <a href=""><%= image_tag("parceiros.jpg", class: 'img-responsive') %></a>
                                </div>
                            </div>
                            <div class="photo col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <h3>Heading 3</h3>
                                <p>Description....</p>
                            </div>    
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="photo col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="col-cl-img">
                                    <a href=""><%= image_tag("parceiros.jpg", class: 'img-responsive') %></a>
                                </div>
                            </div>
                            <div class="photo col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <h3>Heading 3</h3>
                                <p>Description....</p>
                            </div>    
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="photo col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="col-cl-img">
                                    <a href=""><%= image_tag("parceiros.jpg", class: 'img-responsive') %></a>
                                </div>
                            </div>
                            <div class="photo col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <h3>Heading 3</h3>
                                <p>Description....</p>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
        
    </div>
    <div class='colaboradores-main-container'>
                <div class="main wrapper clearfix">
                    <h1>Instituições</h1>
                    <p>Phasellus commodo orci tellus, sit amet eleifend magna dignissim in. Donec iaculis ornare tellus in volutpat. Sed tincidunt molestie facilisis. Vivamus et sollicitudin augue. Nam porttitor pharetra eros porta mollis. Etiam non tortor nulla. Donec feugiat sapien arcu, id venenatis neque volutpat non. Duis auctor ex purus, vel sollicitudin mi efficitur rutrum. Donec varius nibh non fringilla mattis. Proin cursus et lorem a mattis. Sed vel mi diam.</p>
                    <div class='row r-inst'>
                        <div class='photos'>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="photo col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="inst-cl-img">
                                            <a href=""><%= image_tag("ufflogo.png", class: 'img-responsive') %></a>
                                        </div>
                                    </div>
                                    <div class="photo col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <h3>Heading 3</h3>
                                        <p>Description....</p>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="photo col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="inst-cl-img">
                                            <a href=""><%= image_tag("ufflogo.png", class: 'img-responsive') %></a>
                                        </div>
                                    </div>
                                    <div class="photo col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <h3>Heading 3</h3>
                                        <p>Description....</p>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="photo col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="inst-cl-img">
                                            <a href=""><%= image_tag("ufflogo.png", class: 'img-responsive') %></a>
                                        </div>
                                    </div>
                                    <div class="photo col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <h3>Heading 3</h3>
                                        <p>Description....</p>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="photo col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="inst-cl-img">
                                            <a href=""><%= image_tag("ufflogo.png", class: 'img-responsive') %></a>
                                        </div>
                                    </div>
                                    <div class="photo col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <h3>Heading 3</h3>
                                        <p>Description....</p>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<%= render 'layouts/footer' %>
</div>