<%= render 'layouts/header' %>
<% provide(:title, "Eventos") %>
<div class="corpo-main-container">
  <div class="eventos-container">
    <div class="ep-main-container">
      <div class="main wrapper clearfix">
          <h1>Eventos</h1>
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class="main wrapper clearfix">
                <div class="row e-container">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="p-img">
                            <%= image_tag("semfoto.jpg", class: 'img-responsive') %>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="p-info">
                          <h3>evento 1</h3>
                          <h6>Data</h6>
                          <p>Lorem ipsum lorem ispum is a dummy text created by dummy person.</p>
                        </div>
                    </div>
                </div> 
                <!--------------------ILUSTRATIVO----------------------->
                <div class="row e-container">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="p-img">
                            <%= image_tag("semfoto.jpg", class: 'img-responsive') %>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="p-info">
                          <h3>evento 3</h3>
                          <h6>Data</h6>
                          <p>Lorem ipsum lorem ispum is a dummy text created by dummy person.</p>
                        </div>
                    </div>
                </div>
                
                <!--------------------ILUSTRATIVO----------------------->
                <div class="row e-container">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="p-img">
                            <%= image_tag("semfoto.jpg", class: 'img-responsive') %>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="p-info">
                          <h3>evento 2</h3>
                          <h6>Data</h6>
                          <p>Lorem ipsum lorem ispum is a dummy text created by dummy person.</p>
                        </div>
                    </div>
                </div>
                <!--------------------ILUSTRATIVO----------------------->
                
              </div>
            </div> 
            
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="main wrapper clearfix">
                  <div class="es-main-container">
                     <h2>Próximo Evento</h2>
                     <div class="row es-content">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <div class="p-img">
                                  <%= image_tag("semfoto.jpg", class: 'img-responsive') %>
                              </div>
                          </div>
                          <div class="e-info col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <div class="mv-info">
                                  <h3>Evento 1</h3>
                                  <h6>data</h6>
                                  <p>Lorem ipsum is a dummy text created by dummy person.</p>
                              </div>
                          </div>
                      </div> 
                  </div>
                  <div class="es-main-container">
                     <h2>Calendário</h2>
                      
                  </div>   
              </div>
            </div>    
          </div>
      </div>
    </div>        
  <%= render 'layouts/footer' %>
</div>  