<% provide(:title, "Eventos") %>
<div class="corpo-main-container">
  <div class="eventos-container">
    <div class="ep-main-container">
      <div class="main wrapper clearfix">
          <h1>Eventos</h1>
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class="main wrapper clearfix">
                <!--------------------ILUSTRATIVO----------------------->
                <% @eventos.each do |evento| %>
                  <div class="row e-container">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <div class="p-img">
                              <%= image_tag("semfoto.jpg", class: 'img-responsive') %>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <div class="p-info">
                            <h3><%= evento.titulo %></h3>
                            <h6><%= imprime_data(evento.data) %></h6>
                            <p><%= evento.localizacao %></p>
                          </div>
                      </div>
                  </div> 
                <% end %>
                <%= will_paginate @eventos %>
                <!--------------------ILUSTRATIVO----------------------->
              </div>
              
            </div> 
            
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="main wrapper clearfix">
                  <div class="es-main-container">
                     <h2>Próximo Evento</h2>
                     <div class="row es-content">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <div class="p-img">
                                  <%= image_tag("semfoto.jpg", class: 'img-responsive') %>
                              </div>
                          </div>
                          <div class="e-info col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <div class="mv-info">
                                  <h3><%= @proximo_evento.titulo %></h3>
                                  <h6><%= imprime_data(@proximo_evento.data) %></h6>
                                  <p><%= @proximo_evento.localizacao %></p>
                              </div>
                          </div>
                      </div> 
                  </div>
                  <div class="main wrapper clearfix">
                    <div class="es-main-container">
                        <h2>Essa Semana</h2>
                        <%= calendar number_of_days: 4, events: @eventos_semana do |date, meetings| %>
                          <%= date.day %>
                        
                          <% meetings.each do |meeting| %>
                            <%= link_to meeting do %>
                              <div class="circle">
                              </div>
                            <% end %>
                          <% end %>
                        <% end %>
                        <%= link_to "Calendário Completo", eventos_path, class: "calendario-completo" %>
                    </div>
                  </div>
                  <div class="main wrapper clearfix">
                        <div class="ps-main-container">
                            <h2>Busca</h2>
                            <div class="p-busca">
                                <div class="input-group">
                                  <%= form_for(:evento, url: events_path, method: :get) do |f| %>
                                      <%= f.text_field :search, class: "form-control", :placeholder => 'Buscar por...' %>
                                      <span class="input-group-btn">
                                        <%= f.submit 'Buscar', class:'btn btn-default pp-btn'%>
                                      </span>
                                  <% end %>
                                </div>
                            </div>    
                        
                        </div>
                  </div>
              </div>
            </div>    
          </div>
      </div>
    </div>        
  <%= render 'layouts/footer' %>
</div>  