 
<% provide(:title, "Home") %>
<div class="corpo-main-container">
    <div class="main-container">
        <div class="carrousel-container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="">
                        <!-----------IMPLEMENTAR: carrousel *talvez------------->
                        <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><div class="lp-img img-container-home"><%= image_tag("alunos.jpg", class: 'img-responsive') %></div></div>
                            <div class="swiper-slide"><div class="lp-img img-container-home"><%= image_tag("grupo.jpg", class: 'img-responsive') %></div></div>
                        </div>
                        <!-- Add Pagination -->
                    </div>
                	</div>	
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="c-title">
                        <div class="row">
                            <h3>BEM-VINDO AO LABPEC</h3>
                            <div class="main wrapper clearfix">
                                <div class="h-cadastro">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
                                    <button type="button" class="btn btn-danger btn-lg btn-cadastro ">
                                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="margin-right:10px;"></span><%= link_to 'Cadastro', new_user_path %></button>
                                        <button type="button" class="btn btn-success btn-lg btn-cadastro" data-toggle="modal" data-target="#myModal">
                                        <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="margin-right:10px;"></span>Contato</button>
                                </div>
                            </div>
                        </div>  
                    </div>  
                
                </div>    
            </div>
        </div>    
        
    </div> 
    <div class="destaques-container">
        <div class="main wrapper clearfix">
            <h1>Destaques</h1>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="c-simp">
                        <h2>XV Simpósio do lorem ipsum</h2>
                        <h4>Este é o simposio do lorem ipsum, feito anualmente pela sociedade lorem ipsum</h4>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/ug5y2Uo1mPE" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="main wrapper clearfix">
                        <!---VERIFICAR: uso do botão--->
                        <!---<button type="button" class="p-buttom">Enviar Publicação</button>-->
                        <div class="ps-main-container">
                           <h2>Mais Visto</h2>
                           <div class="row ps-content">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h4>XV simpósio do lorem ipsum</h4>
                                    <iframe width="100%" height="115" src="https://www.youtube.com/embed/ug5y2Uo1mPE" frameborder="0" allowfullscreen></iframe>
                                </div>
                           </div>
                        </div>   
                    </div>    
                </div>
            </div>    
        </div>    
    </div>    
    <div class="main info-container">
        <div class="row">
            <div class="main wrapper clearfix">
                <div class="event col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div>    
                    <h1>Eventos</h1>
                    <!-----------IMPLEMENTAR: buscar eventos do BD------------->
                        <% @eventos.each do |evento| %>
                            <div class="row h-cald">
                                
                                <div class="r-borda-dotted rb-cal col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h5><%= imprime_data(evento.data, 2) %></h5>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-4 col-xs-12 d-event">
                                    <h4><%= link_to evento.titulo, evento %></h4>
                                    <p><%= evento.localizacao %></p>
                                </div>  
                            </div>
                        <%end %>
                    </div>    
                    <div class="h-link">
                        <%= link_to events_path do %><p>+ saiba mais</p> <% end %>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="ie-contato-container">    
                        <div class="contato">    
                            <h1>Contato</h1>
                            <p>Rua Professor Marcos Waldemar de Freitas Reis, 100 – bloco C</p>
                            <p>São Domingos, Niterói-RJ</p>
                            <p>CEP: 24210-201</p>
                            <p>Tel: +55 21 26292605</p>
                            <p>Fax: + 55 21 26292607</p>
                            <p>Email: uff.labpec@gmail.com</p>   
                        </div>    
                    </div>    
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="row ie-container">
                        <!-----------IMPLEMENTAR: buscar noticias do BD------------->
                        <h1>Noticias</h1>
                        <% @noticias.each do |n| %>
                        <div class="h-noticia b-borda-dotted ic-title">
                            <h5><%= link_to n.titulo, n %> </h5>
                            <p><%= n.descricao %></p>
                        </div>
                        <% end %>
                    </div> 
                    <div class="h-link">
                        <p><%= link_to '+ saiba mais', publicacoes_path %></p>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <%= render 'layouts/footer' %>
</div>

<!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Contato LABPEC</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email:</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputMensagem">Mensagem:</label>
                <textarea class="form-control" rows="3" placeholder="Mensagem..."></textarea>
            </div>  
            <button type="submit" class="btn btn-default">Enviar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
