 
<% provide(:title, "Home") %>
<div class="corpo-main-container">
    <div class="main-container">
        <div class="carrousel-container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="row">
                        <!-----------IMPLEMENTAR: carrousel *talvez------------->
                        <div class="lp-img img-container-home">
                			<%= image_tag("alunos.jpg", class: 'img-responsive') %>
                		</div>
                	</div>	
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="c-title">
                        <div class="row">
                            <h3>BEM-VINDO AO LABPEC</h3>
                            <div class="main wrapper clearfix">
                                <div class="h-cadastro">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
                                    <button type="button" class="btn btn-danger btn-lg btn-cadastro ">
                                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="margin-right:10px;"></span><%= link_to 'Cadastro', new_user_path %></button>
                                        <button type="button" class="btn btn-success btn-lg btn-cadastro">
                                        <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="margin-right:10px;"></span>Contato</button>
                                        <button type="button" class="btn btn-info btn-lg btn-cadastro">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true" style="margin-right:10px;"></span>Buscar</button>
                                </div>
                            </div>
                        </div>  
                    </div>  
                
                </div>    
            </div>
        </div>    
        <div class="main wrapper clearfix">
            <h1>LABPEC</h1>
            <p> O Laboratório de Pesquisa em contato Linguístico - LABPEC da UFF - foi criado para desenvolver estudos e pesquisas na temática de Línguas em/de contato em diferentes situações etnolinguísticas e culturais. As pesquisas desenvolvidas têm por objetivo central identificar, descrever e analisar situações de manutenção, perda e revitalização de línguas e culturas autóctones e alóctones; de contexto de imigração; de contexto de escravidão; de fronteiras linguísticas, incluindo aquelas que se estabelecem nos limites geográficos e ainda situações de ensino e aprendizagem de línguas. Como resultado das investigações, o grupo tem por meta avaliar e propor ações de política e planejamento linguístico para diferentes situações de/em contato estudadas. As pesquisas desenvolvidas no LABPEC estão inseridas na Linha História, Política e Contato Linguístico do Programa de Pós-graduação em Estudos de Linguagem da Universidade Federal Fluminense.  Os produtos das investigações desenvolvidas no grupo apresentados em teses de doutorado, dissertações de mestrado e demais publicações em periódicos e livros da área. Desde 2015 desenvolvemos um projeto de cooperação internacional bilateral entre a CAPES e o DAAD em parceria com a Europa-Universität Viadrina, de cotutela doutoral no âmbito de um PROBRAL II (Projeto Brasil Alemanha) na área de estudos culturais, através do qual abordamos temas sobre processos de transculturalidade e etnicidade em movimento (B/orders in motion).</p>
        </div>
    </div> 
    <div class="coordenadores-container">
        <div class="main wrapper clearfix">
            <h1>O Grupo</h1>
            <div class="row r-coordenadores"> 
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum..</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="lp-img">
                        <%= image_tag("grupo.jpg", class: 'img-responsive') %>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="coordenadores-container">
        <div class="main wrapper clearfix">
            <h1>Coordenadores</h1>
            <div class="row r-coordenadores">
                <div class="cd-img col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="cl-img">
                        <%= image_tag("semfoto.jpg", class: 'img-responsive') %>
                    </div>
                    <h5>Fulana da Silva</h5>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="">
                        <h3>Biografia:</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem.</p>
                        <button type="button" class="btn btn-primary">Saiba Mais</button>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="coordenadores-container">
        <div class="row r-coordenadores">
            <div class="main wrapper clearfix">
                <div class="cd-img col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="cl-img">
                        <%= image_tag("semfoto.jpg", class: 'img-responsive') %>      
                    </div>
                    <h5>Ciclana dos Santos Lima</h5>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="">
                        <h3>Biografia:</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem.</p>
                        <button type="button" class="btn btn-primary">Saiba Mais</button>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="coordenadores-container">
        <div class="row r-coordenadores">
            <div class="main wrapper clearfix">
                <div class="cd-img col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="cl-img">
                        <%= image_tag("semfoto.jpg", class: 'img-responsive') %>
                    </div>
                    <h5>Cipriana Braganca Nunes</h5>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="">
                        <h3>Biografia:</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem.</p>
                        <button type="button" class="btn btn-primary">Saiba Mais</button>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="info-container">
        <div class="row">
            <div class="wrapper clearfix">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div>    
                    <!-----------IMPLEMENTAR: buscar eventos do BD------------->
                        <% @eventos.each do |evento| %>
                            <div class="row b-borda-dotted ic-title">
                                <h1>Eventos</h1>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <h5><%=imprime_data(evento.data, 2) %></h5>
                                </div>
                                <div class="l-borda-dotted col-lg-8 col-md-8 col-sm-12 col-xs-12 d-event">
                                <p><%= evento.localizacao %></p>
                                </div>  
                            </div>
                        <%end %>
                    </div>    
                    <div class="h-link">
                        <a href=""><p>+ saiba mais</p></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="ie-contato-container">    
                        <div class="contato">    
                            <h1>Contato</h1>
                            <p>Rua Professor Marcos Waldemar de Freitas Reis, 100 – bloco C</p>
                            <p>São Domingos, Niterói-RJ</p>
                            <p>CEP: 24210-201</p>
                            <p>Tel: +55 21 26292605</p>
                            <p>Fax: + 55 21 26292607</p>
                            <p>Email: uff.labpec@gmail.com</p>   
                        </div>    
                    </div>    
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="row ie-container">
                        <!-----------IMPLEMENTAR: buscar noticias do BD------------->
                        <h1>Noticias</h1>
                        <% @noticias.each do |n| %>
                        <div class="h-noticia b-borda-dotted ic-title">
                            <h5><%= n.titulo %> </h5>
                            <p><%= n.descricao %></p>
                        </div>
                        <% end %>
                    </div> 
                    <div class="h-link">
                        <p><%= link_to '+ saiba mais', publicacoes_path %></p>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <%= render 'layouts/footer' %>
</div>