<% if logged_in? %>
<div class="pnl-corpo-main-container">
    <div class="pnl-main-container">
      <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><h3>Dashboard</h3></div>
      <div class="panel-body">
        <p>Seja bem vindo administrador! Use as opções abaixo para gerenciar os conteúdos do seu site. Caso tenha alguma dúvida, ou ocorra algum erro, por favor contactar os desenvolvedores em <strong>contato@injunior.com.br</strong></p>
      </div>
    
      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <button type="button" class="btn pnl-button btn-success btn-lg btn-cadastro ">
                <%= link_to 'Usuarios', users_path %>
              </button> 
            </div>
            <div class="col-lg-8 col-md-8">
              <p>Gerencie aqui a área de usuários do site.</p>
            </div>
          </div>  
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <button type="button" class="btn pnl-button btn-danger btn-lg btn-cadastro ">
                <%= link_to 'Publicações', posts_path %>
              </button>
            </div>
            <div class="col-lg-8 col-md-8">
              <p>Gerencie aqui a área de postagens do site.</p>
            </div>
          </div>      
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <button type="button" class="btn pnl-button btn-info btn-lg btn-cadastro ">
                <%= link_to 'Documentos', documentos_path %>
              </button>  
            </div>  
            <div class="col-lg-8 col-md-8">  
              <p>Gerencie aqui a área de documentos do site.</p>
            </div>  
          </div>  
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <button type="button" class="btn pnl-button btn-warning btn-lg btn-cadastro ">
                <%= link_to 'Eventos', eventos_path %>
              </button>  
            </div>  
            <div class="col-lg-8 col-md-8">  
              <p>Gerencie aqui a área de eventos do site.</p>
            </div>  
          </div>  
        </li>
      </ul>
    </div>
      
    </div>
<%= render 'layouts/footer' %>
</div>
<% end %>