<%= render 'layouts/header' %>
<div class="corpo-main-container">
    <div class="row publicacoes-container">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="pp-main-container">
               <div class="main wrapper clearfix">
                    <h1>Publicações</h1>
                    <!-----------IMPLEMENTAR: buscar informações do BD------------->
                    <div class="p-container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="p-img">
                                    <%= image_tag("noimage.png", class: 'img-responsive') %>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="p-info">
                                    <h3>Titulo</h3>
                                    <h6>data</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                </div>
                            </div>
                        </div>    
                    </div>
                    <!-----------meramente ilustrativo------------->
                    <div class="p-container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="p-img">
                                    <%= image_tag("noimage.png", class: 'img-responsive') %>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="p-info">
                                    <h3>Titulo</h3>
                                    <h6>data</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                </div>
                            </div>
                        </div>    
                    </div>
                    <!-----------meramente ilustrativo------------->
                    <div class="p-container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="p-img">
                                    <%= image_tag("noimage.png", class: 'img-responsive') %>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="p-info">
                                    <h3>Titulo</h3>
                                    <h6>data</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                </div>
                            </div>
                        </div>    
                    </div>
                    <!---IMPLEMENTAR: paginação com JS ---->
                    <nav aria-label="Page navigation">
                      <ul class="pagination">
                        <li>
                          <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                          <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
               </div>
            </div>
        </div>    
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="ps-main-container">
                <div class="main wrapper clearfix">
                    <h1>Mais Visto</h1>
                </div>
            </div>
            <div class="ps-main-container">
                <div class="main wrapper clearfix">
                    <h1>Arquivo</h1>
                    <a href="#">SET 2016 <span class="badge"> 2</span></a></br>
                    <a href="#">AGO 2016 <span class="badge"> 3</span></a></br>
                    <a href="#">JUL 2016 <span class="badge"> 1</span></a></br>
                    <a href="#">JUN 2016 <span class="badge"> 5</span></a></br>
                </div>
            </div>
            <div class="ps-main-container">
                <div class="main wrapper clearfix">
                    <div class="p-busca">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search for...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                          </span>
                        </div>
                    </div>    
                </div>
            </div>
        </div>    
    </div>
    <%= render 'layouts/footer' %>
</div>    