
<p> Esqueci minha senha </p>

 <%= form_for(:password_reset, url: password_resets_path) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="actions">  
      <%= f.submit "Trocar minha senha", class: "btn" %>
    </div>
  <% end %>

<p> Não recebi meu e-mail de confirmação </p>

<%= form_for(:user, url: lostemail_path ) do |f| %>
  
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, :value => "", class:'form-control' %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Re-enviar confirmação', class:'btn'%>
  </div>
  
<% end %>