<%= form_for(documento, html: { multipart: true})  do |f| %>

  <% if documento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(documento.errors.count, "error") %> prohibited this documento from being saved:</h2>

      <ul>
      <% documento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="form-group">
    <%= f.label :titulo %>
    <%= f.text_field :titulo,  class:'form-control', :placeholder=>"Digite o título"  %>
  </div>
  
  <span class="counter"></span>
  
  <div class="form-group">
    <%= f.label :descricao %>
    <%= f.text_area :descricao,  class:'form-control', :placeholder=>"Digite a descrição" %>
  </div>

  <div class="form-group">
    <%= f.label :data_defesa %>
    <%= f.date_select :data_defesa, class:'form-control' %>
  </div>
  
  <div class="form-group">
  <label>Tipo do documento</label><br>
    <%= f.select :tese, options_for_select(["Tese", "Dissertação"]) %>
  </div>
  
  <div class="form-group">
  <label>Categoria do documento</label><br>
    <%= f.select :mestrado, options_for_select(["Mestrado", "Doutorado"]) %>
  </div>
  
  <div class="form-group">
    <%= f.label :arquivo %>
    <%= f.file_field :arquivo %>
  </div>

  <div class="actions">
    <%= f.submit 'Enviar', class:'btn btn-default'%>
  </div>
<% end %>
