<% provide(:title, "Documentos") %>
<div class="pst-corpo-main-container">
  <div class="pst-main-container">
    <div class="main clearfix">
      <h2>Respostas de Documentos</h2>
      <div class="pst-container">
        <div class="pst-content">
          <div class="table-responsive">
            <table id="tablesorter" class="display" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Nome do Usuário</th>
                  <th>Título</th>
                  <th>Descrição</th>
                  <th>Tese/Dissertação</th>
                  <th>Mestrado/Doutorado</th>
                  <th>Download</th>
                  <th>Aceitar</th>
                  <th>Negar</th>
                </tr>
              </thead>
            
              <tbody>
                <% @documentos.each do |documento| %>
                  <tr>
                    <td>
                      <% if documento.user %>
                        <%= documento.user.name %>
                      <% end %>
                    </td>
                    <td><%= documento.titulo %></td>
                    <td><%= documento.descricao %></td>
                    <td>
                      <% if documento.tese %>
                        <%= "Tese" %>
                      <% else %>
                        <%= "Dissertação" %>
                      <% end %>
                    </td>
                    <td>
                      <% if documento.mestrado %>
                        <%= "Mestrado" %>
                      <% else %>
                        <%= "Doutorado" %>
                      <% end %>
                    </td>
                    <td><%= link_to "Download", documento.arquivo_url %></td>
                    <td id="aceitar_doc_<%= documento.id %>"><%= link_to 'Aceitar', aprove_doc_path(:choice => 1, :doc_id => documento.id), remote: true,
                    id: "link_aceita_doc_#{documento.id}"%></td>
                    <td id="negar_doc_<%= documento.id %>"><%= link_to 'Negar', aprove_doc_path(:choice => 2, :doc_id => documento.id), remote: true, 
                    id: "link_nega_doc_#{documento.id}" %></td>
                  </tr>
                  
                  <% content_for :js do %>
                    $('#link_aceita_doc_<%= documento.id %>').bind('ajax:success', function(){
                      $('#aceitar_doc_<%= documento.id %>').text('Aceito');
                      $('#negar_doc_<%= documento.id %>').text('Aceito');
                      
                      $('#aceitar_doc_<%= documento.id %>').addClass('aceito');
                      $('#negar_doc_<%= documento.id %>').addClass('aceito');
                      
                    });
                    
                    $('#link_nega_doc_<%= documento.id %>').bind('ajax:success', function(){
                      $('#aceitar_doc_<%= documento.id %>').text('Negado');
                      $('#negar_doc_<%= documento.id %>').text('Negado');
                      
                      $('#aceitar_doc_<%= documento.id %>').addClass('negado');
                      $('#negar_doc_<%= documento.id %>').addClass('negado');
                      
                    });
                    
                  <%end%>
                  
                <% end %>
              </tbody>
            </table>
            </div>
        </div>
        <div class="pst-button">
          <button><%= link_to 'Novo Documento', new_documento_path %></button>
        </div>
      </div>
    </div>  
  </div>
  <%= render 'layouts/footer' %>
</div>
            
            
