<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @documento.user_id %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @documento.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @documento.descricao %>
</p>

<p>
  <strong>Status:</strong>
  <%= @documento.status %>
</p>

<p>
  <strong>Data defesa:</strong>
  <%= @documento.data_defesa %>
</p>

<p>
  <strong>Tese:</strong>
  <%= @documento.tese %>
</p>

<p>
  <strong>Mestrado:</strong>
  <%= @documento.mestrado %>
</p>

<%= link_to 'Edit', edit_documento_path(@documento) %> |
<%= link_to 'Back', documentos_path %>
