<p id="notice"><%= notice %></p>
<div class="pst-corpo-main-container">
  <div class="pst-main-container">
    <div class="main clearfix">
      <h2>Documento</h2>
      <div class="pst-container">
        <div class="pst-content">
          <div class="pst-info-content">
            <p>
              <strong>User:</strong>
              <% if @documento.user %>
                <%= @documento.user.name %>
              <% end %> 
            </p>
            
            <p>
              <strong>Titulo:</strong>
              <%= @documento.titulo %>
            </p>
            
            <p>
              <strong>Descricao:</strong>
              <%= @documento.descricao %>
            </p>
            
            <p>
              <strong>Status:</strong>
              <% if @documento.status %>
                <%= "Aprovado" %>
              <% else %>
                <%= "Pendente/Reprovado" %>
              <% end %>
            </p>
            
            <p>
              <strong>Data defesa:</strong>
              <%= imprime_data(@documento.data_defesa) %>
            </p>
            
            <p>
              <strong>Tese:</strong>
              <% if @documento.tese %>
                <%= "Tese" %>
              <% else %>
                <%= "Dissertação" %>
            </p>
            
            <p>
              <strong>Mestrado:</strong>
              <%if @documento.mestrado %>
                <%= "Mestrado" %>
              <% else %>
                <%= "Doutorado" %>
              <% end %>
            </p>
            
            <div class="pst-button">
              <%= link_to 'Edit', edit_documento_path(@documento) %> |
              <%= link_to 'Back', documentos_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>  
