<%= form_for(post, html: {multipart: true, id: 'enquiry'}) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> impediu essa publicação de ser efetuada:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :titulo %>
    <%= f.text_field :titulo,  class:'form-control', :placeholder=>"Digite o título"  %>
  </div>
  
  <span class="counter"></span>
  
  <div class="form-group">
    <%= f.label :descricao %>
    <%= f.text_area :descricao,  class:'form-control', :placeholder=>"Digite a descrição" %>
  </div>
  
  <span class="picture">
    <%= f.file_field :picture %>
  </span>
  </br>
  
  <div class="form-group">
    <%= f.cktext_area :conteudo, ckeditor: { language: 'pt-br'} %>
  </div>
  <%= javascript_include_tag Ckeditor.cdn_url %>
  
  <div class="actions">
    <%= f.submit 'Enviar', class:'btn btn-default'%>
  </div>
<% end %>