<div class="main-container">
<%= form_for(post, html: {multipart: true, id: 'enquiry'}) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> impediu essa publicação de ser efetuada:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %>
    <%= f.text_field :titulo %>
  </div>
  
  <span class="counter"></span>
  
  <div class="field">
    <%= f.label :descricao %>
    <%= f.text_area :descricao %>
  </div>
  
  <span class="picture">
    <%= f.file_field :picture %>
  </span>
  
    <script>
    CKEDITOR.instances.editor.setData('asdasdasd');
  </script>
  
  <div class="field">
    <%= f.cktext_area :conteudo, :value => post.conteudo, ckeditor: { language: 'pt-br'} %>
  </div>
  

  <%= javascript_include_tag Ckeditor.cdn_url %>
  
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
