<div class="pst-corpo-main-container">
  <div class="pst-main-container">
    <div class="main clearfix">
      <h2>Editar Publicação</h2>
      <div class="pst-container">
        <h3> Autor : <%= @post.user.name %></h3>
        <div class="pst-content">
          <%= render 'formedit', post: @post %>
        </div>
        <div class="pst-button">
            <%= link_to 'Visualizar', @post %> |
            <%= link_to 'Voltar', posts_path %>
        </div>
      </div>
    </div>  
  </div>
  <%= render 'layouts/footer' %>
</div>

