
<div class="pst-corpo-main-container">
  <div class="pst-main-container">
    <div class="main clearfix">
      <h2>Gerenciador de Publicações</h2>
      <div class="pst-container">
        <div class="pst-content">
          <div class="table-responsive">
            <table id="tablesorter" class="display" cellspacing="0" width="100%">
              <thead>
                  <tr>
                    <th>Título</th>
                    <th>Usuário</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
              </thead>
              <tbody>
                  <% @posts.each do |post| %>
                    <tr>
                      <td><%= post.titulo %></td>
                      <td><%= post.user_id %></td>
                      <td><%= link_to 'Ver', post %></td>
                      <% if logged_in? %>
                      <td><%= link_to 'Editar', edit_post_path(post) %></td>
                      <td><%= link_to 'Apagar', post, method: :delete, data: { confirm: 'Está certo disso?' } %></td>
                      <% end %>
                    </tr>
                  <% end %>
              </tbody>
          </table>
          </div>
        </div>
        <div class="pst-button">
          <button><%= link_to 'Nova Publicação', new_post_path %></button>
        </div>
      </div>
    </div>  
  </div>
  <%= render 'layouts/footer' %>
</div>