<!DOCTYPE html>
<!-- rails server -b $IP -p $PORT -->
<html>
  <head>
    
    <meta charset = "utf-8" >
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge" >
    <meta name = "viewport" content = "width=device-width, initial-scale=1" >
    <meta name="description" content="LABPEC - Laboratório de pesquisa em Estudos de Linguagem">
    <meta name="keywords" content="LABPEC, Linguagem, Estudos, UFF, Laboratório">
    <meta name="author" content="InJunior">
    
    <title><%= yield(:title) %> | Conheça o LABPEC</title>
    <link rel="shortcut icon" type="image/png" href="/assets/Logo.png"/>
    
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    
    <section class="pag-container" id="topo">
        <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <% if !current_page?(login_path) && !current_page?(painel_path) %>
          <% if administrador? %>
             <%= render 'layouts/header-admin' %>
          <% else %>
              <%= render 'layouts/header' %>
          <% end %>
        <% end %>
        <%= yield %>
        
    </section>
    
    
     
    
    
    <!-- Initialize Swiper -->
    <script type="text/javascript">
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    });
    </script>
    
    
    
    <!---------DATA TABLES----------------->
    
    <script type="text/javascript">
		  $("#tablesorter").DataTable({
		        "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]]
		    });
	  </script>
	
  </body>
</html>