<!DOCTYPE html>
<!-- rails server -b $IP -p $PORT -->
<html>
  <head>
    <title>Labpec</title>
    <meta charset = "utf-8" >
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge" >
    <meta name = "viewport" content = "width=device-width, initial-scale=1" >
    <meta name ="author" content = "site do laboratório LABPEC" >
    
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    
    <section class="pag-container" id="topo">      
      <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      
      
    </section>
    
    <!-- Initialize Swiper -->
    <script type="text/javascript">
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    });
    </script>
    
    <!---------BACK TO TOP----------------->
    
    <script type="text/javascript">
    $(document).ready(function() {
       $('#subir').click(function(){ 
          $('html, body').animate({scrollTop:0}, 'slow');
      return false;
         });
     });
    </script>
    
    
    <!---------DATA TABLES----------------->
    
    <script type="text/javascript">
		  $("#tablesorter").DataTable({
		        "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]]
		    });
	  </script>
	
  </body>
</html>