<!DOCTYPE html>
<!-- rails server -b $IP -p $PORT -->
<html>
  <head>
    <title>Labpec</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="pag-container">
      <div class="corpo-main-container">
        <div class="main-container">
          <div class="main wrapper clearfix">
    <%= yield %>
    <%= render 'layouts/footer' %>
          </div>
        </div>
      </div>  
    </section>
    
  </body>
</html>